@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

html {
  font-family: "Raleway", "Cardo", sans-serif;
  background-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

textarea:focus, input:focus
{
  outline: none;
}
