.wrap {
    h2 {
        font-size: 30px;
        cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(#FFF, #FFF, #ececec);
}

.book_wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.img_wrap {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    img {
        width: 200px;
        height: 200px;
        transition: .5s;
        cursor: pointer;

        &:hover {

            transform: translate(0, -20px) scale(1.1);
        }
    }

    span {
        text-align: center;
        cursor: pointer;
    }
}